html * {
    font-family: 'Montserrat';
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

section {

    position: relative;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.book-img {
    height: 100%;
    object-fit: cover;
}